*{
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
.container{
    padding: 30px;
    margin: auto;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
article{
    width: 23%;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(212, 212, 212);
    margin: 10px;
    transition-duration: 0.4s;
}
article:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.button-container{
    display: flex;
    justify-content: space-around;
}
.more{
    margin: 30px;
    border-radius: 5%;
    height: 50px;
    background-color: white;
    color: black;
    border: 2px solid #242424;
    transition-duration: 0.4s;
}
.more:hover{
    background-color: #242424;
    color: white;
}