*{
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
.container{
    padding: 30px;
    margin: auto;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.button-container{
    display: flex;
    justify-content: space-around;
}
.more{
    margin: 30px;
    border-radius: 5%;
    height: 50px;
    background-color: white;
    color: black;
    border: 2px solid #242424;
    transition-duration: 0.4s;
}
.more:hover{
    background-color: #242424;
    color: white;
}

#root {
    margin-top: -1%;
}