header{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 100px;
    padding: 20px;
    align-items: center;
    color: white;
    min-height: 150px;
    align-items: center;
}
.right-nav{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}
.search{
    margin: 20px;
}
.logo{
    height: 150px;
}
.icon-container{
    display: flex;
    justify-content: space-between;
    min-width: 50px;
}
form{
    width: 20%;
}
.search-bar{
    height: 28px;
    border-radius: 14px;
    width: 100%;
    padding: 14px;
}