header{
    display: flex;
    flex-direction: row;
    background-color: lightslategrey;
    height: 100px;
    padding: 20px;
    align-items: center;
}
.right-nav{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.search{
    margin: 20px;
}